<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @shop.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @shop.longitude %>
</p>

<p>
  <strong>Shoptag:</strong>
  <%= @shop.shoptag %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shop.description %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
